.tutorial {
  font-family: $font-text;
  margin-bottom:50px;

  p {
    text-align: justify;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    color:$text-color-activate;
  }

  .centerImg {
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
  }
  .centerImg img {
    width:100%;
    max-width:400px;
  }
  .centerImgBig img {
    width:100%;
    max-width:700px;
  }
  .centerImgSmall img {
    width:100%;
    max-width:200px;
  }
  

  h2 {
    font-family: $font-title;
  }

}