doctype html
html(lang="en")
    include include/header.jade
        link(rel='stylesheet', href='css/main.css')
    body

        .wrapper
            //Menu
            include include/menu.jade

            // Content
            .right-space
                .content
                    h1 About me
                    .aboutme

                        img(src="img/logo_less.png")


                        p.
                            Hi! My name is Julian Chenard, I’m a French 28 years-old engineer currently
                            working as WebGL developer in Rouen (not so far from Paris).
                            I create 3D applications during the day and 3D games at night using
                            Babylon.js.

                        p.
                            I’m also one of Babylon.js admin team on Github, and a contributor for 3 years. 
                            I created a plugin to plug Babylon.js to the physics engine Oimo.js
                            (used now as the default physics engine of Babylon.js), took part in the creation
                            of the official Babylon.js documentation, and recently added a way to read OBJ
                            files directly from Babylon.js.<br/>
                            I also give some training courses about Babylon.js (alongside my
                            full-time job) at Isart Digital, a video game and 3D animation school in Paris.<br/>
                            I also wrote a book about it! Go check it <a target="_new" href="http://www.learningbabylonjs.com">here!</a>
                        p.
                            As a gamer, I always loved to develop games and apps prototypes, without completed any.
                            This website is here to give me a goal to actually finish them :)

                        h2 Contact

                        p.
                            If you like my games, if you have any questions or even if you just want to say hi,
                            you can contact me via Twitter, or via email : temechon [at] pixelcodr [dot] com.

        include include/footer.jade
