doctype html
html(lang="en")
    include include/header.jade
        link(rel='stylesheet', href='css/main.css')
    body

        .wrapper
            //Menu
            include include/menu.jade

            // Content
            .right-space
                .content
                    h1 Projects

                    .project
                        .img-zoom
                            img(src="img/cover.png")
                        .project-text
                            h2.project-name Learning Babylon.js - 160 pages e-book
                            .project-desc
                                | Learn the basics of the 3D framework Babylon.js by creating a whole game. <br/>
                                | This 160 pages e-book will teach you everything you need to know about Babylon.js to get the most out of it!

                            .project-buttons
                                a.button(target="_new", href="http://learningbabylonjs.com/") Website
                    .project
                        .img-zoom
                            img(src="img/dungeon.jpg")
                        .project-text
                            h2.project-name Dungeon
                            .project-desc
                                |A 3D demo scene (no gameplay here), exported from 3DSMax to Babylon.js.

                            .project-buttons
                                a.button(href="games/dungeon/index.html") Demo
                                a.button Github
                    .project
                        .img-zoom
                            img(src="img/shinobomb.jpg")
                        .project-text
                            h2.project-name Shinobomb
                            .project-desc
                                | A 3D remake of the classic game Bomberman, powered by Babylon.js.<br/>
                                | The game supports up to 4 players with gamepads.
                                | It can also be played with a keyboard (up to two players on the same keyboard).
                            .project-buttons
                                a.button(href="games/shinobomb/index.html") Demo
                                a.button Github
                    .project
                        .img-zoom
                            img(src="img/block.jpg")
                        .project-text
                            h2.project-name Block
                            .project-desc
                                | A 3D puzzle game, made with Babylon.js.<br/>
                                | Play with the arrow keys and try to finish all levels.
                            .project-buttons
                                a.button(href="games/block/index.html") Demo
                                a.button Github
                    .project
                        .img-zoom
                            img(src="img/quarto.png")
                        .project-text
                            h2.project-name Quarto
                            .project-desc
                                | A 3D remake of the classic board game Quarto
                            .project-buttons
                                a.button(href="games/quarto/index.html") Demo
                                a.button Github
                    .project
                        .img-zoom
                            img(src="img/lemon.png")
                        .project-text
                            h2.project-name Ramon el Lemon
                            .project-desc
                                | My first Unity game, developped to try the new 2D features of Unity.
                                | The game theme was given by a friend: lemons and beer.
                            .project-buttons
                                a.button(href="games/ramon/index.html") Demo
                    .project
                        .img-zoom
                            img(src="img/ufo.jpg")
                        .project-text
                            h2.project-name UFO
                            .project-desc
                                | A 2D game made with phaser.js.
                            .project-buttons
                                a.button(href="games/ufo/index.html") Demo