doctype html
html(lang="en")
    head
        title=Pixelcodr
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Oswald',rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat',rel='stylesheet',type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300',rel='stylesheet',type='text/css')
        link(rel='stylesheet', href='css/main.css')
    body

        .wrapper
            //Menu
            include include/menu.jade

            // Content
            .right-space
                .content
                    h1 Projects

                    .project
                        img(src="http://placehold.it/300x300")
                        .project-text
                            h2.project-name Project 1
                            .project-desc.
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            .project-buttons
                                .demo-button Demo
                                .github-button Github

                    .project
                        img(src="http://placehold.it/300x300")
                        .project-text
                            h2.project-name Project 1
                            .project-desc.
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            .project-buttons
                                .demo-button Demo
                                .github-button Github

                    .project
                        img(src="http://placehold.it/300x300")
                        .project-text
                            h2.project-name Project 1
                            .project-desc.
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            .project-buttons
                                .demo-button Demo
                                .github-button Github