doctype html
html(lang="en")
    include include/header.jade
        link(rel='stylesheet', href='css/main.css')
    body

        .wrapper
            //Menu
            include include/menu.jade

            // Content
            .right-space
                .content
                    h1 Babylon.js tutorials
                    
                    .project
                        .img-zoom
                            img(src="http://lorempixel.com/400/400")
                        .project-text
                            h2.project-name How to contribute to Babylon.js
                            .project-desc
                                | Follow these steps to become <br/>
                                | an official contributor!

                            .project-buttons
                                a.button(href="tutos/contribute/contribute.html") Go to tutorial

                    .project
                        .img-zoom
                            img(src="img/toad_attack1.jpg")
                        .project-text
                            h2.project-name Basics - part 1
                            .project-desc
                                | Learn the basics of the 3D framework Babylon.js by creating a whole game. <br/>
                                | There are mushrooms !

                            .project-buttons
                                a.button(href="tutos/toad_attack/toad_attack.html") Go to tutorial
                    .project
                        .img-zoom
                            img(src="img/toad_attack2.jpg")
                        .project-text
                            h2.project-name Basics - part 2
                            .project-desc
                                | Learn the basics of the 3D framework Babylon.js by creating a whole game. <br/>
                                | There are more mushrooms !

                            .project-buttons
                                a.button(href="tutos/toad_attack/toad_attack-2.html") Go to tutorial
                    .project
                        .img-zoom
                            img(src="img/plane.png")
                        .project-text
                            h2.project-name Action Manager
                            .project-desc
                                | Actions are a simple way to interact with your scene, and are launched by a trigger.
                                | With this new system, we will try to create a simple game prototype.

                            .project-buttons
                                a.button(href="tutos/plane/plane.html") Go to tutorial

                    .project
                        .img-zoom
                            img(src="img/oimo.png")
                        .project-text
                            h2.project-name Physics
                            .project-desc
                                | In this tutorial, we will try to use a new physics plugin : Oimo.js.

                            .project-buttons
                                a.button(href="tutos/oimo/oimo.html") Go to tutorial
                    .project
                        .img-zoom
                            img(src="img/trees.jpg")
                        .project-text
                            h2.project-name VertexData
                            .project-desc
                                | In this new Babylon.js tutorial, we will learn how to retrieve and
                                | manipulate vertices of an object, to finally update their values in order to create a new geometry.

                            .project-buttons
                                a.button(href="tutos/trees/trees.html") Go to tutorial
                    .project
                        .img-zoom
                            img(src="img/shooter.png")
                        .project-text
                            h2.project-name FPS creation
                            .project-desc
                                | This tutorial will explain how to create a FPS game with Babylon.js.

                            .project-buttons
                                a.button(href="tutos/shooter/shooter.html") Go to tutorial
                    .project
                        .img-zoom
                            img(src="img/physics.jpg")
                        .project-text
                            h2.project-name Play with physics
                            .project-desc
                                | This tutorial will explain how to manipulate a mesh with the default physics plugin in Babylonjs : Oimo.js.

                            .project-buttons
                                a.button(href="tutos/physics/physics.html") Go to tutorial
        include include/footer.jade